name: AsyncAPI

on:
  push:
    paths:
      - 'dock-api/**'
      - 'websocket-api/**'
      - 'integration-api/**'
      - '.github/workflows/asyncapi.yml'
  pull_request:
    types: [ opened, synchronize, reopened ]
    paths:
      - 'dock-api/**'
      - 'websocket-api/**'
      - 'integration-api/**'
      - '.github/workflows/asyncapi.yml'

jobs:
  validate:
    name: Validate AsyncAPI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

#      - name: Validate websocket-api
#        uses: WaleedAshraf/asyncapi-github-action@v0.0.9
#        with:
#          filepath: './websocket-api/asyncapi.yaml'

      - name: Validate integration-api
        uses: WaleedAshraf/asyncapi-github-action@v0.0.9
        with:
          filepath: './integration-api/asyncapi.yaml'

      - name: Validate dock-api
        uses: WaleedAshraf/asyncapi-github-action@v0.0.9
        with:
          filepath: './dock-api/asyncapi.yaml'

      - name: Prepare AsyncAPI html output
        run: |
          mkdir -p ./static/api/ws ./static/api/integration ./static/api/dock

#      - name: Generate core AsyncAPI HTML doc
#        uses: docker://asyncapi/github-action-for-generator:2.1.8
#        with:
#          template: '@asyncapi/html-template@0.23'
#          filepath: ./websocket-api/asyncapi.yaml
#          output: ./static/api/ws

      - name: Generate integration AsyncAPI HTML doc
        uses: docker://asyncapi/github-action-for-generator:2.1.8
        with:
          template: '@asyncapi/html-template@0.28'
          filepath: ./integration-api/asyncapi.yaml
          output: ./static/api/integration

      - name: Generate dock AsyncAPI HTML doc
        uses: docker://asyncapi/github-action-for-generator:2.1.8
        with:
          template: '@asyncapi/html-template@0.28'
          filepath: ./dock-api/UCD2-asyncapi.yaml
          output: ./static/api/dock

      - name: Deploy integration API GH page
        uses: JamesIves/github-pages-deploy-action@v4.3.0
        with:
          branch: gh-pages
          folder: ./static/api/integration
          target-folder: ./integration

      - name: Deploy dock API GH page
        uses: JamesIves/github-pages-deploy-action@v4.3.0
        with:
          branch: gh-pages
          folder: ./static/api/dock
          target-folder: ./dock
